/*
-------------------------------------------------------------------
Signflow CSS Design
-------------------------------------------------------------------

Table of contents

1. Colors  [Row 30] 
2. Custom classes [Row 226] 
3. Layout and typography [Row 427] 
4. Headers and menu [Row 524] 
5. Titles [Row 724] 
6. Footer [Row 809] 
7. Components [Row 860] 
8. Containers [Row 1526] 
9. Mobile / responsive [Row 1701] 

-------------------------------------------------------------------

*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/*
-------------------------------------------------------------------
COLORS
-------------------------------------------------------------------
*/
.extra-content, .nav:not(.ms-rounded) li > a:before, .boxed.advs-box-top-icon-img .advs-box-content, [class*="col-md-"].boxed, .header-base .breadcrumb,
.advs-box-side-img hr, .mi-menu .sidebar-nav, .advs-box-top-icon-img.niche-box-post:after, .accordion-list .list-group-item:before, [class*=header-] .title-base h1:before, .title-base h2:before,
.woocommerce .product span.onsale, .circle-button, .btn.circle-button, .btn, .header-bootstrap, .header-title hr, .advs-box.boxed, i.circle, .intro-box:after, .intro-box:before,
.advs-box-side-img hr, .call-action-box, .title-base hr, .nav.inner.ms-mini, .header-title.white .title-base hr, .header-animation.white .title-base hr,
.title-base .scroll-top, .title-modern .scroll-top, i.square, .progress-bar, .tagbox span, .niche-box-post .block-infos .block-data {
    background-color: #ffbd5b;
}

.navbar-inner .nav.ms-minimal li a:before, .header-base.white, .advs-box-multiple.boxed .advs-box-content, .section-two-blocks.bg-color > .row > div:last-child, .list-items .list-item span {
    background-color: #ffbd5b !important;
}

.btn:not(.btn-border):hover, .btn-primary:focus, .boxed .btn, .btn-primary.focus, .side-menu .active, .boxed.white .btn,
.white.circle-button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover, .white .title-base.yellow-bar hr, .img-box.i-center i.fa-play, .white.call-action-box .btn {
    background-color: #FFA726 !important;
}

i.icon, .fullpage-menu .active i, .navbar-default .navbar-toggle:hover i, .navbar-default .navbar-toggle:focus i, header .side-menu .active > a,
.adv-img-button-content .caption i, .icon-menu ul.nav > li.active > a i, .icon-menu ul.nav > li:hover > a i, .active .maso-order i, .btn.btn-border i, .advs-box-top-icon:not(.boxed) i.icon,
.datepicker-panel > ul > li.picked, .pricing-table .list-group-item:before, .btn-text i, .dropdown-menu ul > li:hover > a,
.advs-box-content h2:hover a, .pricing-table .pricing-price span, .datepicker-panel > ul > li.picked:hover, footer h4, .box-menu-inner .icon-box i,
.caption-bottom p, .mi-menu li .fa, .fullpage-arrow.arrow-circle .arrow i, .accordion-list .list-group-item > a i, .mega-menu .fa-ul .fa-li,
.adv-circle.adv-circle-center i, .mi-menu a > .fa, .box-steps .step-item:after, .box-steps .step-number, h6, li.panel-item .fa-li, .icon-menu .navbar-collapse ul.nav i,
.side-menu i, .side-menu ul a i, .bs-menu li:hover > a, .bs-menu li.active > a, .hamburger-button:hover, .img-box.adv-circle i, .advs-box-side .icon, .advs-box-side-icon i,
.title-icon i, i, .fullpage-menu.white li.active a i, .timeline > li > .timeline-label h4, .anima-button i, .advs-box-multiple div i,
.footer-center .footer-title, .accordion-list .list-group-item > a.active, footer a:hover, .block-quote.quote-1:before, .text-muted .block-quote.quote-2:before, .breadcrumb > li + li:before, div .extra-content, .navbar-default .navbar-nav > .active > a {
    color: #ffbd5b;
}

@media (max-width: 994px) {
    .navbar-nav .open .dropdown-menu > li > a[href="#"] {
        color: #ffbd5b !important;
    }
}

.footer-minimal .footer-title, .advs-box-top-icon.boxed .btn, .advs-box-top-icon.boxed .circle-button, .sidebar-nav ul a:hover, header .mi-menu .sidebar-nav ul a:hover,
.woocommerce div.product p.price, .woocommerce div.product span.price, .white .text-color, .accordion-list .list-group-item > a:hover, .boxed .circle-button:hover i, .dropdown-menu > li > a:hover,
.pagination > .active > a, .pagination > li:not(.disabled):hover > a, .boxed .circle-button, header .btn-search:hover, .advs-box h2 a:hover, .nav.ms-minimal > li.active > a,
header.scroll-css .navbar-default .navbar-nav > .active > a, header.menu-transparent.scroll-css .navbar-default .navbar-nav > li:hover > a, header.menu-transparent.scroll-css .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > li:hover > a {
    color: #ffbd5b !important;
}

.btn-border:hover, .btn.btn-border:hover, .btn.circle-button.btn-border:hover, .tag-row i {
    color: #FFA726;
}

    .btn-border:hover i, .white .btn i {
        color: #FFA726 !important;
    }

.btn-color.btn-border, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .pagination > li:not(.disabled):hover > a i:before {
    border-color: #ffbd5b !important;
    color: #ffbd5b !important;
}

.nav.inner.ms-rounded > li > a:hover, .nav.inner.ms-rounded > li.active a, .white .btn:hover, .white .btn, .white .btn:hover {
    background-color: #ffbd5b  !important;
    border-color: #ffbd5b !important;
}

    .circle-button, .btn-default, .white .btn:not(.btn-border), .btn-border, .bg-transparent .navbar-nav > li.active > a .caret:before, .bg-transparent .navbar-nav > li:hover > a .caret:before,
    .white .btn-text, .scroll-top-mobile:hover:before, .tab-box.left:not(.pills) .panel-box, .tab-box.right:not(.pills) .panel-box, .tab-box.right .nav-tabs {
        border-color: #ffbd5b;
    }

.boxed.advs-box-multiple .advs-box-content, .niche-box-post, .extra-content, .quote-author, .border-color, .border-color.boxed-border.boxed-border.white, .timeline > li > .timeline-badge,
body div.boxed-border.border-yellow {
    border-color: #ffbd5b !important;
}

.datepicker-top-left, .datepicker-top-right {
    border-top-color: #ffbd5b;
}

    .datepicker-top-left:before, .datepicker-top-right:before {
        border-bottom-color: #ffbd5b;
    }

.text-color {
    color: #FFA726;
}

.circle-button:hover, .btn:hover {
    border-color: #FFA726 !important;
}

.btn-text, html .advs-box .btn-text:after, .btn-color.btn-border:hover {
    color: #FFA726;
    border-color: #FFA726;
}

body, .adv-img p, .caption-bottom p, .adv-circle .caption p, .advs-box p, .pricing-table .list-group-item, a, .list-items .list-item p, .tab-box .nav-tabs > li > a span, div.caption-bottom p,
.header-base:not(.white) p, .title-base p, div.title-icon p {
    color: #616161;
}

.img-box.inner .caption {
    color: #8492af !important;
}

header.menu-transparent .navbar-default .navbar-nav > .active > a, header.menu-transparent .navbar-default .navbar-nav > li:hover > a, .white .advs-box h4, .white .navbar-nav > .active > a, .white .navbar-nav > .active > a:hover,
.white .navbar-nav > .active > a:focus, .white .navbar-nav > .open > a, .white .navbar-nav > .open > a:hover, .white .navbar-nav > .open > a:focus, .white .navbar-nav > li > a:focus,
.white, .white ul li, .white p, .white .breadcrumb > .active, .white .navbar-nav > li > a, .white .navbar-nav > li > a:hover, .white .dropdown-menu > li > a, footer, footer p, footer li, footer a, footer span, footer .social-group i.circle,
.white .niche-box-testimonails h5, .white ul.list-texts li b, .pricing-table .pricing-price span:last-child, footer .social-group i {
    color: #EEEEEE !important;
}


    .white .accordion-list .list-group-item > a:before, footer .social-group i.circle, .table > tbody > tr > th, .table > tbody > tr > td, .table > thead > tr > th {
        border-color: #9daac7 !important;
    }

.social-group i.circle, .social-button i.circle, .nav.inner.ms-rounded li a {
    border-color: #9daac7;
}

header.menu-transparent .nav .caret:before, footer .tag-row span {
    border-color: #8492af;
}

.btn-border {
    border-color: rgba(142,136,175,0.35);
}

.section-bg-color, .bg-color-2, header.bg-color-2 .navbar-main, .navbar-mini, .header-base:not(.bg-cover), [class*="col-md-"].boxed-inverse, .boxed-inverse, .fixed-area.boxed-inverse, .form-box .form-control, .form-inline, .tab-box .nav-tabs > li.active > a,
.tab-box .nav-tabs > li:hover > a, .table-striped > tbody > tr:nth-of-type(odd), .section-two-blocks > .row > div:last-child, .advs-box.boxed-inverse:not(.shadow-1), .header-base {
    background-color: #f4f9fe;
}

.block-quote.quote-2:after {
    color: #e2e8ee;
}

btn-border, .btn.btn-border, .btn.circle-button.btn-border, h1, h2, .box-pin h3, .pricing-table h3, .pricing-table .list-group-item.pricing-price, .pricing-table .list-group-item.pricing-price span,
.niche-box-testimonails-cloud .name-box .subtitle, .icon-box label, .advs-box-multiple div.circle, .box-steps .step-item > h3, .adv-img-down-text h2 a, .counter-box-simple.text-color span + span,
.list-items .list-item h3, tab-box .nav-tabs > li.active > a, .counter-circle, ul.list-texts li b, .nav.ms-minimal li a, .nav.inner.ms-rounded li a, .text-color-2, .list-blog p, .tag-row span, .tag-row a,
.niche-box-post h2 a, .list-blog h5, .block-title a, .block-infos p.bd-day, .comment-list .name, .countdown .countdown-values, .niche-box-testimonails h5, .author a, .maso-order i, .panel-default > .panel-heading {
    color: #0e1a35;
}

.advs-box h3, .advs-box h2, h4, .breadcrumb > li:before {
    color: #0e1a35 !important;
}

footer, .flex-control-paging li a:hover, .bg-color {
    background-color: #424242 !important;
}

.flex-control-paging li a.flex-active, .header-slider .flex-control-paging li a.flex-active, .input-group-btn .btn, .btn.btn-primary:hover {
    border-color: #0e1a35;
    background-color: #0e1a35;
}

.flex-control-paging li a, .header-slider .flex-control-paging li a, body div .flexslider .flex-direction-nav a, div.flexslider .flex-direction-nav li a:before {
    border-color: #0e1a35;
}

.white.btn, .white .btn, .white .tag-row a, .header-bootstrap i.icon, .white .tag-row i, .white .advs-box-content h2 a, .white.advs-box-side-img h2 a, .advs-box-side-icon.boxed .icon-box i,
.circle-button, .white .pagination > li.disabled > a, .white .pagination > li > a, .social-colors i, .btn.circle-button, .btn, .btn i, .circle-button, .btn.circle-button, .btn:hover,
.btn:hover i, .btn.focus, .input-group button, .adv-img h2 {
    color: #fff;
}

    .nav.inner.ms-rounded > li > a:hover, .white .btn-text:hover, .header-base.white .breadcrumb.b a, .mi-menu .sidebar-nav ul a:hover, .white .btn.btn-border:hover, .white.advs-box-top-icon h3,
    .nav.inner:not(.ms-rounded) > li.active, .nav.inner.ms-rounded > li.active a, .nav.inner.ms-rounded li:hover i, .ms-rounded .active .maso-order i, .white .btn.circle-button.btn-border,
    .boxed .btn-text, .advs-box.white h3, h1.white, .white .form-control, .boxed.white p, .white .btn i, .call-action-box p, .white h4, .adv-img-classic-box.white p {
        color: #fff !important;
    }

.section-bg-image .advs-box.boxed-inverse, .white .flex-control-paging li a:hover, .adv-img-down-text.boxed-inverse:hover, .advs-box-multiple div.circle, .list-blog input, .list-blog select,
.section-bg-image [class*="col-md-"].boxed-inverse, [class*="shadow-"].boxed-inverse, .sidebar-nav ul ul, .base-box.boxed, .base-box.boxed-inverse, .advs-box.boxed-inverse, .section-bg-color .form-box .form-control,
.boxed-inverse:not(.shadow-1) .form-box, .boxed-inverse:not(.shadow-1) .form-box .form-control, .section-two-blocks .form-box .form-control, .section-bg-color .advs-box.boxed-inverse {
    background-color: #fff;
}

header .side-menu .active, .white.btn:not(.btn-border), .white:not([class*="header-"]) .title-base hr, .bg-white, .white .flex-control-paging li a:hover {
    background-color: #fff !important;
}

.white .flex-control-paging li a.flex-active, .white.btn {
    border-color: #fff;
    background-color: #fff !important;
}

    .white .pagination li > a i:before, .boxed-border.white, .boxed-border.boxed-border.white, .btn.white:hover, .btn.white, .boxed .btn-text,
    .white .flex-control-paging li:hover, body .white .flex-direction-nav a:hover:before, body .white .flex-direction-nav a:hover,
    .white .btn:hover .caret:before, .white .accordion-list .list-group-item:hover > a:before, .white .btn.btn-border {
        border-color: #fff !important;
    }

.white form .form-control {
    border-color: #fff !important;
    color: #fff !important;
}

.bg-color.white p {
    color: rgba(255, 255, 255, 0.7) !important;
}

.white.form-inline {
    background-color: rgba(255,255,255,0.15);
}

    .navbar-default .navbar-nav > .active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-nav > li:hover > a, .nav.inner > li, header .input-group-btn .btn, header .input-group-btn .btn:hover,
    .navbar-default .navbar-nav > li > a:hover, .dropdown-menu ul > li:hover > a, .navbar-main .btn-search:hover, .accordion-list .list-group-item > a:hover, .nav.inner, .bg-transparent li.active, .bg-transparent li:hover,
    .white.btn.btn-border, .white .btn.btn-border, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, a.list-group-item:hover,
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, header.menu-transparent.bg-transparent .navbar, .section-two-blocks.bg-color, .white.form-inline .form-control {
        background: none;
    }

header .input-group-btn .btn, header > .navbar {
    border: none !important;
}

.white ::-webkit-input-placeholder {
    color: #fff;
}

.white ::-moz-placeholder {
    color: #fff;
}

.white :-ms-input-placeholder {
    color: #fff;
}

.white :-moz-placeholder {
    color: #fff;
}

/*
-------------------------------------------------------------------
CUSTOM CLASSES
-------------------------------------------------------------------
*/

.shadow-1, .adv-img-down-text.shadow-1 .img-box, .two-blocks-container.shadow-1 > .row, .section-bg-color .advs-box.boxed-inverse, .section-bg-color .adv-img.boxed-inverse {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13) !important;
}

.adv-img-down-text.shadow-1, .two-blocks-container.shadow-1 {
    box-shadow: none !important;
    margin: 8px;
}

    .adv-img-down-text.shadow-1 .img-box {
        margin: 8px;
    }

@media (min-width: 993px) {
    .video-overlay {
        margin-top: -70px;
        position: relative;
        background-position: top center;
        overflow: visible;
        z-index: 8;
    }

        .video-overlay > .content {
            padding-bottom: 55px !important;
        }

    .width-80 {
        max-width: 80%;
        margin: auto;
    }

        .width-80.text-left {
            margin-left: 0;
        }

    .margin-top-90, .section-two-blocks.margin-top-90 {
        margin-top: 90px;
    }

    .margin-negative-200 {
        margin-top: -200px !important;
    }

    .margin-negative-50 {
        margin-top: -50px !important;
    }

    .max-250 {
        max-width: 250px;
    }


    .section-middle-img, .two-blocks-container.shadow-1 {
        overflow: visible;
    }

        .section-middle-img > .content > .middle-img {
            position: relative;
            z-index: 9;
        }

            .section-middle-img > .content > .middle-img > img {
                position: absolute;
                z-index: 9;
                left: 50%;
                transform: translate3d(-50%, -10px, 0);
            }

        .section-middle-img > .content {
            padding-bottom: 554px !important;
        }

        .section-middle-img + .section-empty {
            padding-top: 130px;
        }
}


@keyframes pulse-infinite {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.07);
    }

    100% {
        transform: scale(1);
    }
}

.pulse-infinite {
    animation: pulse-infinite 2s infinite;
}


@keyframes pulse-circle {
    0% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

.section-pins {
    position: relative;
}

    .section-pins > img {
        max-width: 75%;
        position: relative;
        z-index: 1;
    }

    .section-pins .box-pin {
        position: absolute;
        z-index: 9;
        text-align: left;
        max-width: 250px;
        top: 40px;
    }

.box-pin h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 35px;
}

.box-pin:before {
    content: "";
    background-image: url(images/line-2.png);
    background-position: right center;
    background-repeat: no-repeat;
    position: absolute;
    width: 600px;
    height: 50px;
    top: 23px;
}

.box-pin.box-pin-right {
    top: 270px;
    right: 0;
    text-align: right;
}

    .box-pin.box-pin-right:before {
        background-image: url(images/line-1.png);
        background-position: left center;
        right: 0;
    }

.bg-top {
    background-position: top center;
}

.bg-bottom {
    background-position: bottom center;
}

.img-box.i-center i.fa-play {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-shadow: none;
    left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
}

    .img-box.i-center i.fa-play::before {
        margin: 24px !important;
        font-size: 24px;
    }

.no-padding-top > .content {
    padding-top: 0 !important;
}

    .no-padding-top > .content > .row > div > .shadow-1, .no-padding-top > .content > .row > .shadow-1 {
        margin-top: 8px;
    }

.border-1000 {
    border-radius: 1000px;
}

.section-empty.border-bottom > .container:after, .section-bg-image.border-bottom > .container:after {
    content: "";
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}




/*
-------------------------------------------------------------------
LAYOUT & TYPOGRAPHY
-------------------------------------------------------------------
*/
body, p {
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
}

span.space {
    width: 20px;
}

.img-box:not(.circle), .img-box:not(.circle) > span, .img-box:not(.circle) img, .img-box:before, .navbar-nav > li .dropdown-menu, .advs-box.boxed, .advs-box.boxed-inverse, .google-map, .advs-box-multiple, .social-group a i:not(.circle) {
    border-radius: 6px !important;
}

.png-over .img-box img, .section-two-blocks .col-md-6 > .img-box, .section-two-blocks .col-md-6 > .img-box img, .section-two-blocks .google-map {
    border-radius: 0 !important;
}

.img-box.circle {
    border-radius: 50% !important;
}

h1, .h1 {
    font-weight: 100;
}

.text-normal, .timeline > li > .timeline-label p, .form-box p, h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
}

.text-bold, .collapse-button b, #comments h4, #comments h5, .nav-pills > li > a, ul.list-texts li b, .timeline-title, .timeline-label h4, .list-blog h5 {
    font-weight: 500 !important;
}

.btn {
    font-weight: 600;
}

.anima-button:hover {
    padding-left: 57px;
}

.anima-button.btn:hover i, .anima-button.circle-button:hover i {
    margin-left: -27px;
}

.text-xs {
    font-size: 12px !important;
    line-height: 16px;
}

.text-s {
    line-height: 20px;
}

.text-m {
    font-size: 17px !important;
}

.text-l {
    line-height: 38px;
}

h1 {
    font-size: 60px;
    line-height: 75px;
    transform: translateY(-5px);
}

.text-xl {
    font-size: 45px !important;
    line-height: 60px;
}

.text-light {
    font-weight: 100;
}

hr {
    border-top: 1px solid #d6d6d6;
}

@media (min-width: 993px) {
    .section-two-blocks .content {
        padding-left: 50px;
    }

    .container.content, .section-empty > .content, .section-bg-image > .content, .section-bg-video > .content, .section-bg-animation > .content, .section-slider > .content, .section-two-blocks .content {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .base-box.boxed, .base-box.boxed-inverse, .boxed-inverse, [class*="col-md-"].boxed, [class*="col-md-"].boxed-inverse, .grid-box > .grid-item.boxed-inverse, .row.vertical-row > div.boxed-inverse, .row.vertical-row > div.boxed {
        padding: 50px;
        border-radius: 6px;
    }

        [class*="col-md-"].boxed.small-padding, [class*="col-md-"].boxed-inverse.small-padding {
            padding: 25px;
        }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding: 0 40px;
    }

    .row.vertical-row > div, .section-map .overlaybox-inner > .row > * {
        padding-left: 40px;
        padding-right: 40px;
    }

    .row, .row.vertical-row:not(.box-middle) {
        margin-left: -40px;
        margin-right: -40px;
    }

    [class*="col-md-"].boxed, [class*="col-md-"].boxed-inverse {
        margin: 0 40px;
    }

    body > div[class*=section-]:last-of-type > .content {
        padding-bottom: 160px;
    }

    .section-two-blocks + footer {
        margin-top: 160px !important;
    }

    [class*="boxed"].col-md-8:not(.no-margins) {
        width: calc(66.66666667% - 80px);
    }

    [class*="boxed"].col-md-6:not(.no-margins) {
        width: calc(50% - 80px);
    }

    [class*="boxed"].col-md-4:not(.no-margins) {
        width: calc(33.33333333% - 80px);
    }

    [class*="boxed"].col-md-3:not(.no-margins) {
        width: calc(25% - 80px);
    }

    [class*="boxed"].col-md-5:not(.no-margins) {
        width: calc(41.66666667% - 80px);
    }
}

h2, .h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 100;
}

h3, .h3 {
    font-size: 36px;
    line-height: 40px;
}

    h1 + p, h3 + p, h4 + p, h1 + h2, h1 + h3, p + .btn {
        margin-top: 20px;
    }

p {
    margin-bottom: 3px;
    letter-spacing: .5px;
}

    p + p, h2 + h2 {
        margin-top: 10px;
    }

    p + .btn-text {
        margin-top: 5px;
    }

h2 + p {
    margin-top: 35px;
}

h4, .h4 {
    line-height: 35px;
}

h1.text-m, h2.text-m, h3.text-m {
    line-height: 25px !important;
}

.quote-author {
    font-style: normal;
    font-weight: 400;
    padding-left: 15px;
    border-left: 4px solid #7d7d7d;
}

.section-bg-color hr {
    border-color: #b3b3b3;
}

.scroll-top-mobile {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
    color: #b5b5b5;
    width: 35px;
    height: 35px;
    bottom: 15px;
    right: 15px;
}

/*
-------------------------------------------------------------------
HEADER AND MENUS
-------------------------------------------------------------------
*/

.navbar-inner:not(.ms-rounded) li.active > a:before, .navbar-inner:not(.ms-rounded) li:hover > a:before {
    width: 100%;
}

.navbar-inner:not(.ms-rounded) li {
    position: relative;
}

.nav.inner.ms-rounded.over > li {
    padding-bottom: 50px;
}

.navbar-inner:not(.ms-rounded) li > a:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 1px;
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
}

.navbar-brand {
    height: 85px;
}

.nav .caret:before {
    border-color: #7d7d7d;
}

.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 500;
    font-size: 14px;
}

.navbar-nav > li .dropdown-menu {
    border: none;
    margin-top: -11px;
    padding: 10px 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.33);
}

header.scroll-css .navbar-nav > li > .dropdown-menu {
    margin-top: -11px;
}

.dropdown-submenu:hover > .dropdown-menu {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: -9px;
}

.side-menu-lateral .dropdown-submenu:hover > .dropdown-menu {
    margin-top: 0;
}

.side-menu-fixed .brand {
    padding: 25px 15px;
}

.navbar-main .btn-search {
    opacity: .5;
    font-size: 19px;
    line-height: 19px;
    margin-top: 17px;
    border: none;
    background: none;
}

.subtitle-header .navbar-right {
    margin-top: 10px;
}

.icon-menu .navbar-main .nav.navbar-right {
    margin-top: 33px;
}

.search-box {
    margin: 85px 0 0 0;
}

.navbar-big-logo .navbar-main .navbar-header:after {
    display: none;
}

.nav.ms-minimal > li > a {
    border-bottom: none;
    font-weight: 500;
}

.nav.maso-filters {
    margin-bottom: 30px;
}

    .nav.maso-filters a {
        padding-top: 0;
    }

.inner.ms-minimal li a {
    padding-top: 0;
}

.mega-menu a {
    height: 32px;
    margin-bottom: 7px;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
}

.mega-menu .nav-tabs > li > a {
    padding: 15px 30px !important;
    height: 50px;
}


.mega-menu h5 {
    margin-bottom: 21px;
    font-weight: 600;
}

.mega-tabs .nav-tabs {
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}

    .mega-tabs .nav-tabs li a:before {
        bottom: -1px;
    }

.mega-tabs .tab-box {
    margin: 15px 15px 20px 15px;
}

    .mega-tabs .nav-tabs, .mega-tabs .tab-box .nav-tabs > li.active > a {
        background-color: #fff;
    }

    .mega-tabs .tab-box .nav-tabs > li > a {
        padding: 10px 15px !important;
    }

.mega-menu .tab-box > .panel {
    padding: 5px 0 0 0;
}

.navbar-main .navbar-form .form-control {
    border: none;
    border-bottom: 1px solid #e6e6e6;
}

.navbar-main .navbar-form .btn-search {
    font-size: 13px;
    margin-top: 0;
    border-bottom: 1px solid #e6e6e6;
    background: #f5f5f5;
}

header .navbar-main form.navbar-form {
    margin-top: 18px;
    padding: 0;
}

header .side-menu > li > a {
    font-weight: 500;
}


header .mi-menu ul li > a, header .sidebar-nav .panel-item > span {
    padding: 10px 15px;
}

/*
-------------------------------------------------------------------
TITLES
-------------------------------------------------------------------
*/


[class*=header-] .title-base {
    text-align: left;
}

    [class*=header-] .title-base h1, .title-base h2, [class*=header-] .title-icon h2, [class*=header-] .title-icon h1, [class*=header-] .title-base.title-small h2 {
        font-size: 50px;
        font-weight: 500;
        margin-top: 5px;
        position: relative;
    }

    [class*=header-] .title-base p {
        max-width: 500px;
    }

[class*=header-] + [class*=section-] > .content {
    padding-top: 160px;
}

.header-base {
    border-bottom: none;
}

    .header-base .title-base {
        display: block;
    }

        .header-base .title-base h1 {
            font-size: 36px;
            line-height: 50px;
            position: relative;
            padding-top: 60px;
        }

div.title-base p {
    max-width: 500px;
    margin-top: 50px;
}

.title-base hr {
    display: none;
}

.header-base .breadcrumb.b a, .header-base .breadcrumb li {
    font-size: 13px;
}

.header-base .breadcrumb {
    margin-top: 65px;
    display: inline-block;
    float: right;
    padding: 3px 15px;
    border-radius: 30px;
}

.header-base .title-base p {
    max-width: 80%;
    padding-bottom: 50px;
}

.title-base h1:before, .title-base h2:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 200px;
    bottom: -20px;
}

.title-base h1:before, .title-base h2:before, .title-base.title-small h2:before {
    left: 50%;
    margin-left: -75px;
}

.title-base.text-left h1:before, .title-base.text-left h2:before, .title-base.text-left.title-small h2:before, [class*="header-"] .title-base h1:before, [class*="header-"] .title-base h2:before {
    left: 0;
    margin-left: 0;
}

.title-base p, .title-base.title-small p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title-base.text-left hr, .title-base.text-left hr, .title-base hr {
    opacity: 1;
}

.title-base.title-small p {
    margin-top: 50px;
}

.title-base p {
    margin-top: 0;
}

.title-base.text-left p, [class*="header-"] .title-base p {
    text-align: left;
    margin-left: 0;
}

.title-base.text-left p {
    margin-left: 1px;
    margin-bottom: 3px;
}

.title-base + .accordion-list > .list-group-item:first-child {
    border-top: none;
}

div[class*=header-]:not(.full-screen-title):not(.header-base) {
    max-width: 1140px;
    margin: auto;
    margin-top: 80px;
    border-radius: 6px;
    height: 410px;
}

[class*=header-][data-parallax]:not(.full-screen-title):not(.header-base) {
    background-image: url(images/bg-title.png);
    background-position: top center;
    background-size: cover;
    border-radius: 0;
    padding-top: 80px;
    height: 490px;
    margin-top: 0;
}

[class*=header-]:not(.header-base):not(.full-screen-title) .container {
    width: auto;
    padding: 0 80px 0 80px;
}

[class*=header-][data-parallax] .container {
    transform: translateY(-40px);
}

[class*=header-]:not(.white):after {
    background-color: #fff;
}

div.section-bg-animation {
    height: auto;
}

.section-bg-animation > .container {
    transform: none !important;
}

.videobox, .header-slider .flexslider .slides {
    height: 410px;
}

.header-video:not(.full-screen-title) .layer-parallax, .header-slider:not(.full-screen-title) .layer-parallax {
    max-width: 1140px;
    left: 50%;
    transform: translateX(-50%);
}

.header-parallax.header-video:not(.full-screen-title) {
    transform: translateY(80px);
    margin-top: 0;
    margin-bottom: 80px;
}

.header-parallax:not(.full-screen-title) .flex-control-nav {
    top: 375px;
}

/*
-------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------
*/


footer p, footer a, footer li {
    font-weight: 400;
}

footer a {
    line-height: 25px;
}

footer h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 22px;
}

footer .container {
    padding: 80px 15px;
}

footer:not(.footer-minimal) .copy-row {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer .copy-row .copy-text {
    max-width: 1170px;
    text-align: left;
    font-size: 15px;
    padding: 15px 2px;
    margin: auto;
    font-weight: 400;
    letter-spacing: .3px;
    float: none;
}

    footer .copy-row .copy-text > span {
        display: inline-block;
        float: right;
    }

footer .fa-ul .fa-li {
    font-weight: 600;
}

footer ul {
    padding-left: 16px;
}

footer .social-group {
    margin-bottom: 0;
}

footer.footer-minimal .copy-row .copy-text {
    text-align: center;
}

.scroll-top-mobile:before {
    top: -6px;
    left: -2px;
}
/*
-------------------------------------------------------------------
COMPONENTS
-------------------------------------------------------------------
*/
.img-box.inner {
    overflow: visible;
}

.img-box.inner, .slides > li > a.img-box.inner {
    width: auto;
    margin-left: 150px;
    margin-right: 1px;
}

    .img-box.inner .caption-box {
        height: 0;
    }

    .img-box.inner .caption {
        width: 60%;
        max-width: 360px;
        min-width: 100px;
        background: none;
        background-color: #fff !important;
        text-shadow: none;
        color: #000;
        font-size: 15px;
        line-height: 20px;
        font-weight: 300;
        left: -135px;
        bottom: 50px;
        padding: 30px;
        height: auto;
        border-radius: 6px;
        text-align: left;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
    }

    .img-box.inner.circle .caption {
        padding: 30px;
        height: auto;
        text-shadow: none;
    }

span.caption-box {
    text-align: center;
    line-height: 19px;
}

.img-box:not(.adv-img) .caption {
    transform: translateY(1px);
    display: block;
}

.caption-bottom {
    padding: 25px;
}

.accordion-list {
    margin-top: 3px !important;
}

    .accordion-list .list-group-item {
        border: none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        margin-bottom: 10px;
    }

        .accordion-list .list-group-item > a {
            font-weight: 500;
            padding-left: 40px;
        }

            .accordion-list .list-group-item > a:before, .advs-box .btn-text:after, .box-steps .step-item:after {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                margin-left: -21px;
                top: 19px;
                position: absolute;
                border-top-width: 2px;
                border-top-style: solid;
                border-right-width: 2px;
                border-right-style: solid;
                content: "";
                width: 6px;
                height: 6px;
                transition: all .15s;
                border-color: rgba(93, 93, 93, 0.5);
            }

        .accordion-list .list-group-item > .panel > .inner {
            padding: 0px 15px 10px 20px;
        }

        .accordion-list .list-group-item > a.active:before {
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
        }

.btn {
    transition: all .6s;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 13px 50px;
    font-size: 18px;
    border-radius: 30px;
}

.btn-sm {
    padding: 8px 35px;
    font-weight: 500;
    font-size: 13px;
}

    .btn-sm i {
        font-size: 14px;
        transform: translateY(1px);
        display: inline-block;
    }

.btn-xs {
    font-size: 11px;
    line-height: 18px;
    padding-top: 2px;
    padding-bottom: 0;
}

    .btn-xs.btn-border {
        border-width: 1px;
    }

.load-more-maso.btn i, .load-more-grid.btn i {
    font-size: 11px;
    margin-left: 5px;
    transform: translateY(0px);
}

.btn-text {
    border-bottom-style: solid;
}

.btn.white:hover, .white .btn:hover {
    opacity: .8;
}

.progress-circle .inner-circle .counter-circle {
    font-size: 19px;
    font-weight: 600;
}

.progress-circle .inner-circle .main {
    line-height: 27px;
    font-weight: 600;
}

.counter-box-simple span + span {
    margin-left: 15px;
}

.inner-circle hr {
    display: none;
}

.inner-circle p {
    margin-top: 0;
}

.inner-circle h2 + p {
    font-size: 13px;
    line-height: 22px;
}

.table:not(.grid-table) th {
    font-weight: 500;
}

table.table:not(.grid-table) > tbody > tr > td, table.table:not(.grid-table) > tbody > tr > th {
    font-size: 13px;
    padding: 15px;
}

.form-inline {
    border-radius: 30px;
    overflow: hidden;
}

    .form-inline .btn {
        border-radius: 30px;
        padding: 0 30px;
    }

.form-box.form-inline .form-control {
    border: none;
}

.form-box .form-control {
    border: none;
    border-radius: 0;
    padding: 0 20px;
    border-radius: 6px;
}

.form-box:not(.form-inline) .form-control:focus {
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.05);
}

.form-box textarea.form-control {
    padding: 20px;
}

.boxed-inverse:not(.shadow-1) .form-box .form-control {
    box-shadow: none;
}

.comment-list .name {
    font-weight: 500;
}

.comment-list img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
}

.comment-list .item {
    margin: 0 -15px;
}

.advs-box-top-icon-img.boxed .advs-box-content, .advs-box-top-icon-img.boxed-inverse .advs-box-content {
    padding: 30px;
    border: none;
}

.section-bg-color .advs-box.boxed, .section-bg-color .advs-box.boxed-inverse, .section-bg-color .adv-img-down-text.boxed-inverse, .section-bg-color .niche-box-testimonails-cloud p {
    border: 0 solid #eee;
}

.adv-img-full-content h2 {
    line-height: 19px;
}

.adv-img-full-content p {
    padding-top: 15px;
}

.advs-box {
    overflow: hidden;
}

    .advs-box p {
        font-size: 15px;
        line-height: 27px;
    }

    .advs-box h3, .advs-box h2, h4, .box-steps .step-item > h3 {
        margin-top: 5px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
    }

    .advs-box a.btn, .advs-box a.anima-button, .advs-box a.btn-text {
        margin-top: 25px;
    }

    .advs-box .btn-text {
        border: none;
        font-weight: 400;
        position: relative;
    }

        .advs-box .btn-text:after {
            margin-left: 7px;
            top: 9px;
            right: -13px;
        }

.advs-box-top-icon-img .img-box {
    margin: 1px;
}

.img-box.adv-img-half-content .caption, .img-box.adv-img-side-content .caption {
    padding: 30px 20px;
}

.adv-img-side-content .btn, .adv-img-side-content .btn-text {
    margin-top: 10px;
}

div.adv-img p {
    font-weight: 400;
    margin-top: 5px;
}

.niche-box-post .text-m {
    font-size: 23px !important;
    line-height: 30px;
}

.niche-box-post h2 {
    margin-top: 5px;
    margin-bottom: 18px;
}

.niche-box-post .block-infos {
    width: 250px;
    text-align: left;
    margin-left: 25px;
}

    .niche-box-post .block-infos .block-data {
        display: block;
        float: left;
        height: 30px;
        border: none;
        border-radius: 23px;
        padding: 0 5px;
        margin-top: 23px;
    }

.block-infos .block-comment {
    display: none;
}

.niche-box-post .block-infos p.bd-day {
    display: inline-block;
    padding: 5px 0px 5px 10px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

.niche-box-post .block-infos .bd-month {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding-right: 9px;
    color: #fff;
}

.niche-box-post .img-box {
    margin: 0;
}


.niche-box-post .tag-row {
    margin-bottom: 15px;
}

.niche-box-blog p.excerpt {
    font-size: 14px;
}

.niche-box-blog .block-infos {
    position: relative;
    padding: 0;
    width: 100px;
}

.niche-box-blog .block-data {
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.31);
    padding: 15px;
    margin: 5px;
}

.niche-box-blog .bd-day {
    font-weight: 600;
}

.niche-box-blog .bd-month {
    font-weight: 500;
    font-size: 11px;
}

.niche-box-blog a.btn, .niche-box-blog a.btn-text {
    margin-top: 0;
}

.niche-box-blog .block-top .block-title {
    padding-left: 30px;
}

.niche-box-blog h2 {
    font-size: 30px;
}

.advs-box-side-img.boxed .col-md-8, .advs-box-side-img.boxed-inverse .col-md-8 {
    padding-top: 30px;
    padding-bottom: 35px;
}

.extra-content {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    background: none;
    border-left: none;
    color: #585858;
    border-top: 1px solid #7a7a7a;
    padding-left: 0;
    padding-right: 0;
}

.adv-img-down-text h2 {
    line-height: 20px;
}

    .adv-img-down-text h2 a {
        padding-bottom: 10px;
        padding-top: 5px;
    }

.adv-img-down-text .caption-bottom p {
    margin-top: 0;
}

.adv-img-down-text.boxed-inverse .caption-bottom {
    border: 1px solid #e4e4e4;
    border-top: none;
}

.section-bg-color .adv-img-down-text.boxed-inverse .caption-bottom {
    border: none;
}

.flexslider .niche-box-testimonails-cloud {
    margin: 15px;
}

.niche-box-testimonails-cloud {
    overflow: visible;
}

    .niche-box-testimonails-cloud p {
        text-align: left;
        background: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    }

        .niche-box-testimonails-cloud p:after {
            display: none;
        }

    .niche-box-testimonails-cloud .name-box .subtitle {
        padding-top: 16px;
        font-weight: 500;
        font-size: 16px;
    }

.niche-box-testimonails h5 {
    font-weight: 600;
}

    .niche-box-testimonails h5 span {
        display: block;
        margin-top: 10px;
        font-weight: 400;
    }

.adv-img-classic-box .caption {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%,rgba(0, 0, 0, 0) 60%) !important;
    transform: translate3d(0,0,0);
}

.adv-img-classic-box > .img-box {
    background: #000;
}

.adv-img-classic-box:hover .img-box img {
    opacity: .5 !important;
}

.adv-img-classic-box .caption-inner h2 {
    margin-bottom: 0px;
    line-height: 20px;
}

.adv-img-classic-box .caption-inner p {
    font-weight: 400;
}

.adv-img-classic-box .caption-inner {
    padding: 20px 30px;
}

.advs-box-top-icon {
    overflow: visible;
    position: relative;
    padding-top: 0 !important;
}

    .advs-box-top-icon h3 {
        margin-top: 15px;
    }

    .advs-box-top-icon.boxed-inverse, .advs-box-side-icon.boxed-inverse, .advs-box-top-icon.boxed, .advs-box-side-icon.boxed {
        margin-top: 0 !important;
        padding: 45px 30px !important;
    }

.flexslider .advs-box-top-icon {
    margin-top: 8px !important;
}

.advs-box-top-icon .icon {
    position: relative;
    left: auto;
    margin: 0;
    box-shadow: none !important;
    font-size: 100px;
    line-height: 110px;
    height: 110px;
    width: 110px;
    padding: 0;
    background: none;
}

    .advs-box-top-icon .icon.text-xl {
        font-size: 80px !important;
        height: 95px;
    }

.advs-box-top-icon.text-left .icon {
    text-align: left;
    left: 0;
    margin-left: 0;
}

.advs-box-top-icon.text-left.boxed .icon, .advs-box-top-icon.text-left.boxed-inverse .icon {
    left: 13px;
    text-align: center;
}

.advs-box-top-icon-img .advs-box-content {
    padding-top: 30px;
}

.list-items .list-item {
    padding: 20px 0;
    border-bottom-color: rgba(0,0,0,.2);
}

    .list-items .list-item:first-child {
        padding-top: 0;
    }

    .list-items .list-item h3 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .list-items .list-item:hover {
        background: none;
    }

    .list-items .list-item span {
        font-size: 13px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        text-align: center;
        border-radius: 30px;
    }

    .list-items .list-item p {
        line-height: 19px;
        padding-top: 5px;
    }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    font-weight: 500;
    font-size: 15px;
}

.list-group-item .col-md-3, .list-group-item .col-md-4 {
    padding: 0 15px;
}

.list-group-item .row {
    margin: 0 -15px;
}

ul li .fa-li.fa-square {
    font-size: 10px;
    margin-top: 3px;
    margin-left: -8px;
}

.icon-box-cell i.text-xl {
    width: 55px;
}

.icon-box.icon-box-top-bottom .icon-box-cell > i {
    margin: 0px 0 15px 0;
}

.icon-box-top-bottom .icon-box-cell label {
    margin-bottom: 10px;
}

.icon-box label {
    font-weight: 600;
    padding-bottom: 5px;
}

.icon-box:not(.icon-box-top-bottom) .icon-box-cell * {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.advs-box-multiple .circle > i {
    line-height: 65px;
    height: 65px;
    width: 65px;
}


.advs-box-multiple .advs-box-content {
    padding: 30px;
}

.advs-box-multiple div.circle {
    font-size: 34px;
    right: 20px;
    line-height: 44px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
}

    .advs-box-multiple div.circle span {
        line-height: 16px;
        color: #717171;
        font-weight: 400;
    }

.section-bg-color .advs-box-multiple.boxed-inverse .advs-box-content {
    border: none;
}

.progress {
    overflow: visible;
    height: 3px;
    background-color: #e8e8e8;
}

.progress-bar {
    box-shadow: none !important;
    color: #30353b;
    height: 3px;
}

    .progress-bar > span {
        padding: 2px 0 2px 5px;
        width: 60px;
        transform: translateY(-31px);
        border-radius: 3px;
        display: block;
        white-space: nowrap;
        font-weight: 500;
        letter-spacing: 1px;
        float: right;
        font-size: 12px;
        background: #2d2d2d;
        color: #fff;
        text-align: center;
    }

.pricing-table {
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border: none;
    position: relative;
    border-radius: 6px;
}

    .pricing-table .list-group-item {
        padding: 5px 35px 5px 60px;
        text-align: left;
        border-bottom: none;
        font-size: 16px;
        position: relative;
    }

    .pricing-table .pricing-price:before, .pricing-table .pricing-name:before, .pricing-table .pricing-btn:before {
        display: none;
    }

    .pricing-table .pricing-btn {
        padding: 5px 35px;
    }

    .pricing-table .list-group-item:before {
        content: "\f00c";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        left: 35px;
        top: 11px;
    }

    .pricing-table .pricing-price.list-group-item {
        font-weight: 600;
        font-size: 72px;
        line-height: 72px;
        padding: 100px 35px 30px 35px;
    }

    .pricing-table .list-group-item:nth-child(even) {
        background-color: #fff;
    }

    .pricing-table h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
    }

    .pricing-table .btn {
        margin-top: 30px;
        padding: 10px 25px;
        margin-bottom: 40px;
    }

    .pricing-table .pricing-price span {
        font-size: 24px;
        display: inline-block;
    }

        .pricing-table .pricing-price span:first-child {
            font-weight: 600;
            font-size: 40px;
            transform: translate3d(-2px,-2px,0);
        }

    .pricing-table .pricing-name {
        position: absolute;
        right: 0;
        left: 0;
        top: 35px;
        padding: 0px 28px;
    }

.pricing-table-big, [class*="section-"] > div > .row:first-child > div > .pricing-table-big {
    margin: -15px 0 0 0;
}

.niche-box-team .content-box hr {
    display: none;
}

.niche-box-team .content-box h2 {
    margin-top: 15px;
    margin-bottom: 0;
}

.niche-box-team .content-box h4 {
    font-size: 14px;
    font-weight: 300;
}

.advs-box-side-icon h3 {
    margin-top: 0;
}

    .advs-box-side-icon h3.text-m {
        margin-bottom: 7px;
        font-size: 22px !important;
    }

.advs-box-side-icon .icon-box i.text-xl {
    line-height: 49px;
    width: 80px;
}

.advs-box-side-icon .icon-box i {
    font-size: 65px;
    line-height: 75px;
    text-align: left;
    width: 95px;
    margin-left: 1px;
    height: 65px;
}

.advs-box-side-icon .icon-box {
    padding-right: 0;
    vertical-align: top;
}

    .advs-box-side-icon .icon-box + .caption-box {
        position: relative;
    }


.advs-box-side h3 {
    margin-top: 0;
}

.advs-box-side hr {
    display: none;
}

[class*="boxed-"].advs-box-side .col-md-4 {
    margin: -25px;
    padding-right: 40px;
}

.advs-box-side > .row {
    margin: 0 -15px;
}

    .advs-box-side > .row > div {
        padding-left: 15px;
        padding-right: 15px;
    }

.timeline > li > .timeline-panel {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
    border-radius: 6px;
    padding: 50px;
}

.timeline:before {
    background: none;
}

.timeline > li > .timeline-badge {
    border-width: 2px;
    background: #fff;
}

.timeline > li {
    margin-bottom: 50px;
}

    .timeline > li:last-child {
        margin-bottom: 0;
    }

.timeline small > i {
    margin-right: 15px;
}

.timeline-body {
    padding-top: 10px;
}

.timeline > li > .timeline-panel:before {
    border-left: 15px solid rgba(189,189,189,.14);
    border-right: 0 solid rgba(189,189,189,.14);
    filter: blur(3px);
    right: -20px;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    left: -20px;
}

.niche-box-team:hover .img-box img {
    transform: translateY(25px) scale(1.2) !important;
}

.porfolio-bar a {
    font-size: 14px;
    text-transform: uppercase;
}

    .porfolio-bar a i {
        font-size: 35px;
    }

.porfolio-bar .icon-box i {
    transform: translateY(-3px);
}

.counter-box-icon > div {
    text-align: left;
}

/*
-------------------------------------------------------------------
CONTAINERS
-------------------------------------------------------------------
*/


.nav-tabs > li {
    margin-right: 30px;
}

.inverse .nav:not(.ms-rounded) li > a:before {
    top: -1px;
    bottom: auto;
}

.nav-tabs > li > a i {
    margin: 0 10px 0 0;
}

.tab-box .nav-tabs > li > a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding: 21px 20px 20px 20px;
    margin-right: 0;
    opacity: .6;
    transition: all .4s;
}

    .tab-box .nav-tabs > li > a span {
        text-transform: none;
        display: block;
        line-height: 20px;
        font-weight: 400;
        margin-top: 7px;
        font-size: 13px;
        letter-spacing: .5px;
    }

.tab-box .nav-tabs > li.active > a, .tab-box .nav-tabs > li:hover > a {
    border-radius: 6px;
    opacity: 1;
}

.nav-pills > li.active > a, .nav-pills > li:hover > a {
    font-weight: 500 !important;
}


.tab-box .nav-tabs > li > a, .tab-box .panel-box .panel, .tab-box .nav-tabs, .tab-box .panel-box, .tab-box > .panel, .tab-box > .panel-box > .panel {
    border: none !important;
}

    .tab-box .panel-box .panel {
        padding-top: 0;
        padding-bottom: 0;
    }

.tab-box > .panel, .tab-box > .panel-box > .panel {
    padding: 30px 0 0 0;
}

.tab-box.inverse > .panel, .tab-box.inverse > .panel-box > .panel {
    padding: 0 0 30px 0;
}

.tab-box.left .panel-box .panel {
    padding: 0 0 0 30px;
}

.tab-box.right .panel-box .panel {
    padding: 0 30px 0 0;
}

.tab-box .nav-tabs.nav-center li.active {
    margin-right: 0;
    bottom: 0;
}

div div.flexslider li .shadow-1 {
    margin: 8px;
    width: calc(100% - 16px);
}

.flexslider .flex-direction-nav li a {
    margin-top: -12px;
}

    .flexslider .flex-direction-nav li a:before {
        margin-left: -6px;
        transition: all .6s;
    }

    .flexslider .flex-direction-nav li a.flex-prev:before {
        margin-left: 7px;
        margin-top: 10px;
    }

.flexslider.nav-bottom-left .flex-direction-nav a, .flexslider.nav-bottom-left:hover .flex-direction-nav .flex-prev {
    left: -10px;
    bottom: -50px;
    top: auto;
    opacity: 1;
}

    .flexslider.nav-bottom-left .flex-direction-nav a.flex-next {
        left: 40px;
    }

.maso-box.row, .grid-box.row {
    margin: -20px;
    width: calc(100% + 40px);
}

.maso-box > .maso-item, .grid-box > .grid-item {
    padding: 20px;
}

.maso-30 .maso-box > .maso-item, .grid-30 .grid-box > .grid-item {
    padding: 15px;
}

.grid-box, .maso-box {
    margin: -20px;
    width: 100%;
    width: calc(100% + 40px);
}

.maso-30 .maso-box.row, .grid-30 .grid-box.row {
    margin: -15px;
    width: calc(100% + 30px);
}

.flex-control-paging li a, .header-slider .flex-control-paging li a {
    background: none;
    border-style: solid;
    border-width: 1px;
}


.box-steps .step-item {
    padding-left: 140px;
}

.box-steps .step-number {
    opacity: 1;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    font-weight: 600;
    left: 42px;
}

.box-steps .step-item:before {
    content: '';
    position: absolute;
    width: 1px;
    right: 29px;
    top: 50%;
    margin-top: -38px;
    height: 70px;
    background: rgba(113, 113, 113, 0.5);
}

.box-steps .step-item:after {
    opacity: 1;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-right: 15px;
    background: #fff;
    border-top-width: 1px;
    border-right-width: 1px;
}

.box-steps .step-item:last-child:before {
    display: none;
}

.section-bg-color .box-steps .step-item:after {
    background: #f7f7f7;
}

.mfp-arrow-right:before {
    margin: 24px 0 0 9px;
}

.fixed-area.active .nav.inner.ms-rounded li a {
    background: #fff;
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.22);
    transition: box-shadow .3s;
}

.pagination li a, .pagination li.active a {
    font-weight: 600;
    background: none;
    margin: 0 10px;
}

.pagination li.active a {
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    width: 40px;
    height: 40px;
    margin-top: -5px;
    line-height: 32px;
    background: rgb(255, 255, 255) !important;
    text-align: center;
}

.pagination-lg li.active a {
    width: 50px;
    height: 50px;
}

.pagination li:not(.active) a {
    border: none !important;
    background: none;
}

.pagination > li > a {
    font-size: 14px;
    text-transform: uppercase;
}

.maso-list .list-nav, .grid-list .list-nav {
    margin-top: 50px;
}

.list-nav.text-left .pagination {
    margin: 0 -20px;
}

.album-box .caption h2 {
    font-size: 17px;
}

.two-blocks-container > .row {
    border-radius: 15px;
}

.overlaybox-side .overlaybox-inner {
    padding: 40px;
    border-radius: 6px;
    margin: 0 60px;
    width: calc(50% - 40px);
}

.boxed-inverse .scroll-content:after, .section-bg-color .scroll-content:after {
    background: linear-gradient(to top, rgb(244, 249, 254) 0%,rgba(0,0,0,0) 100%);
}

/*
-------------------------------------------------------------------
RESPONSIVE
-------------------------------------------------------------------
*/
.navbar-toggle > i {
    margin-top: 13px;
}

@media (max-width:994px) {
    h1 {
        font-size: 38px;
        line-height: 55px;
    }

    .container.content, .section-empty > .content, .section-bg-image > .content, .section-bg-video > .content, .section-bg-animation > .content, .section-slider > .content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    body > div[class*=section-]:last-of-type > .content {
        padding-bottom: 100px;
    }

    [class*=header-] + [class*=section-] > .content {
        padding-top: 100px;
    }

    header .nav li > .mega-menu, .search-box, .flexslider.nav-top-right {
        margin: 0 !important;
    }

    .navbar-nav > li > a, .nav.inner.ms-rounded.over > li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    [class*=header-][data-parallax]:not(.full-screen-title):not(.header-base) {
        padding-top: 50px;
        border-radius: 6px;
        margin-top: 38px;
        background: none;
    }

    header .mega-tabs .tab-box .nav-tabs > li > a {
        padding-left: 0 !important;
    }

    .navbar-nav .dropdown-menu > li > .dropdown-toggle {
        padding-bottom: 0;
    }

    .menu-transparent .navbar-collapse {
        background-color: #fff;
    }

    header.menu-transparent .navbar-default .navbar-nav > .active > a, header.menu-transparent .navbar-default .navbar-nav > li:hover > a, header.bg-transparent .navbar-default .navbar-nav > li > a {
        color: #000 !important;
    }

    header .navbar-main ul {
        padding: 10px 0 0 0 !important;
    }

    .mega-menu .nav-tabs > li > a {
        padding-left: 15px !important;
    }

    .text-m-xs {
        font-size: 25px !important;
        line-height: 35px;
    }

    .text-m-sm {
        font-size: 30px !important;
        line-height: 35px;
    }

    .grid-table td {
        padding: 15px !important;
    }

    .grid-table {
        margin: -15px;
        width: calc(100% + 30px);
    }

    .nav.maso-filters a {
        padding-top: 0;
        margin-bottom: 10px;
    }

    .navbar-inner .navbar-toggle, .navbar-inner .navbar-toggle:hover {
        background: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
        margin-bottom: 30px;
    }

    .overlaybox-side .overlaybox-inner {
        padding: 30px;
        width: 100%;
    }

    .adv-img h2, .adv-circle h2, .caption-bottom h2 {
        line-height: 25px;
    }

    h2, .h2 {
        font-size: 33px;
    }

    h3 {
        line-height: 27px;
    }

    .nav-tabs > li, h2 + h2 {
        border: none !important;
        margin: 0;
    }

    .box-steps .step-item:before, .section-bg-color .box-steps .step-item:after {
        display: none;
    }

    .box-steps .step-item {
        padding: 15px 50px;
    }

        .box-steps .step-item > h3 {
            margin-top: 80px;
        }

    .flexslider.nav-right .flex-control-nav {
        bottom: -14px;
    }

    [class*=header-] .title-base h1, [class*=header-] .title-icon h2, [class*=header-] .title-icon h1, [class*=header-] .title-base.title-small h2, .title-base h2 {
        font-size: 30px;
        line-height: 35px;
    }

    [class*=header-] .title-base p, [class*=header-] div.title-icon p {
        margin-top: 40px;
    }

    [class*=header-] .title-base p {
        max-width: 300px;
    }

    [class*=header-] .breadcrumb.b {
        text-align: left;
    }

    .header-title, .header-video, .header-animation, .header-slider {
        height: 300px !important;
    }

    .header-base {
        padding-bottom: 20px;
    }

    footer .container {
        padding: 80px 0;
    }

    .timeline > li > .timeline-label {
        position: absolute;
        left: auto;
        right: 0;
        max-width: 65px;
        margin: 0;
    }

    .timeline > li.timeline-inverted > .timeline-label {
        left: 0;
        right: auto;
        text-align: right;
    }

    .timeline > li > .timeline-badge {
        display: none;
    }

    .timeline > li > .timeline-label p {
        font-size: 12px;
        white-space: normal;
    }

    .timeline > li > .timeline-label h4 {
        font-size: 16px;
    }

    header .dropdown-submenu a + .dropdown-menu a {
        padding-left: 20px;
    }

    .comment-list img {
        position: absolute;
        margin-top: 10px;
    }

    .comment-list .col-md-10 {
        padding-left: 90px;
    }

    .img-box.adv-img-side-content .caption {
        min-height: 180px;
    }

    .header-base .breadcrumb, .header-bootstrap .breadcrumb {
        text-align: right;
    }

    .advs-box-side-icon .icon-box, .advs-box-side-icon .caption-box {
        display: table-cell;
    }

    .pricing-table-big {
        margin: 0 0 20px 0 !important;
    }

    .form-inline, .white.form-inline {
        background: none;
        border-radius: 0;
    }

    .section-two-blocks {
        margin: 0 15px;
    }

    .section-pins .box-pin {
        margin: 15px;
        transform: scale(.8);
    }

    .box-pin.box-pin-right {
        top: 100px;
    }

    header + [class*=section-] > div > .vertical-row {
        display: flex !important;
    }

    .advs-box-side-icon .icon-box, .advs-box-side-icon .caption-box, .advs-box-side, .advs-box-side-icon p, .advs-box.advs-box-side p,
    .section .background-page, .section .content, .section .container {
        text-align: left !important;
    }

    div[class*=header-]:not(.full-screen-title):not(.header-base) {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
    }
}

@media (max-width: 767px) {
    footer .copy-row .copy-text > span {
        float: none;
        padding-top: 15px;
    }

    .title-base.text-left, .vertical-row > div, .row.vertical-row > div {
        text-align: left !important;
    }

    .pagination-lg > li > a span {
        font-size: 15px;
    }

    .pagination-lg > li > a, .pagination-lg > li > span {
        padding: 8px 10px;
        font-size: 15px;
    }

    .header-base .breadcrumb, .header-bootstrap .breadcrumb {
        text-align: left;
    }

    .tab-box.left .panel-box .panel, .tab-box.right .panel-box .panel {
        padding: 5px 0;
    }

    .tab-box.left .nav-tabs, .tab-box.right .nav-tabs, .tab-box .panel-box {
        float: none;
    }

        .tab-box .panel-box .panel {
            height: auto !important;
        }

    .img-box.inner, .slides > li > a.img-box.inner {
        margin-left: 0;
    }

        .img-box.inner .caption {
            position: static;
            width: auto;
            margin: 0;
            border-radius: 0;
            padding: 15px 0 0 0;
            box-shadow: none;
            font-size: 13px;
        }

        .img-box.inner.shadow-1 .caption {
            padding: 15px;
        }

        .img-box.inner .caption-box {
            height: auto;
        }

    .text-xl {
        font-size: 30px !important;
        line-height: 40px;
    }

    .section-pins .box-pin {
        margin: 15px;
        position: static;
        max-width: none;
    }

    [class*=col-md-] + [class*=col-md-] {
        margin-top: 35px;
    }

    .maso-box > .maso-item, .grid-box > .grid-item, .advs-box [class*="col-md-"], .section-two-blocks > .row > .col-md-6, .porfolio-bar div.col-md-8, .porfolio-bar .col-md-2, .header-base .col-md-3, .latest-post-list .col-md-8 {
        margin-top: 0;
    }

    header + [class*=section-] > div > .vertical-row {
        display: block !important;
    }

    [class*=header-]:not(.header-base):not(.full-screen-title) .container {
        padding: 0 15px;
    }

    [class*=header-] + [class*=section-] > .content {
        padding-top: 60px;
    }

    .pagination li.page a {
        width: 35px;
        height: 35px;
        line-height: 21px;
    }

    .pagination-sm li.page {
        margin-top: -5px;
    }

        .pagination-sm li.page a {
            line-height: 27px;
            margin: 0;
        }

    .pagination li a, .pagination li.active a {
        margin: 0;
    }

    .niche-box-blog h2 {
        font-size: 25px;
    }

    .header-base .breadcrumb {
        margin-top: 0;
        float: left;
    }
}

.yorent_mobile_desc {
    margin-top: 450px
}

.yorent_mobile_bottom_button {
    margin-right: 30px
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .yorent_mobile_desc {
        margin-top: 70px
    }

    .yorent_mobile_bottom_button {
        margin-right: 0;
        margin-bottom: 15px;
    }

}


.p-text-align {
    text-align: justify;
}
